<div class="ui-g-3 ui-g-offset-4"  style="padding: 50px 0px 30px 60px;">
  <div style=" text-shadow:-7px 4px 2px gray; border:2px solid">
    <div>
      <div class="Icon">
        <img src="./assets/user.png" height="100" width="100">
      </div>
      <div>
        <form action="" method="post" name="FormEntrar">
          <div class="ui-grid-2 input-group ">
            <div class="ui-grid-12 class-input">
              <input type="text" pInputText name="nombre" style="width: 99%" placeholder="Usuario" id="Usuario"
                required>
            </div>
          </div>
          <div class="ui-grid-2 input-group ">
            <div class="ui-grid-12 class-input">
              <input type="text" pInputText name="nombre" style="width: 99%" placeholder="contraseña" id="Contraseña"
                required>
            </div>
          </div>
          <div class="ui-grid-2 input-group ">
            <div class="ui-grid-12 ui-g-offset-2 class-input">
              <button pButton type="button" label="Entrar" class="ui-button-rounded" style="width: 80%"></button>
            </div>
          </div>
          <div class="ui-grid-2 input-group ">
            <div class="ui-grid-12 ui-g-offset-2 class-input">
              <button pButton type="button" label="Olvido su contraseña" class="ui-button-rounded"
                style="width: 80%"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
