<form (ngSubmit)="onSubmit()" #servForm="ngForm" autocomplete="off">
  <div class="ui-g">
    <div class="ui-g-8">
      <label>Código(*)</label><br>
      <input type="text" pInputText name="codigo" style="width: 100%" [(ngModel)]="item.codigo" required>
      <label>Nombre(*)</label><br>
      <input type="text" pInputText name="nombre" style="width: 100%" [(ngModel)]="item.nombre" required>
      <p-checkbox name="activo" binary="true" [(ngModel)]="item.activo"></p-checkbox>
    </div>
    <div class="ui-g-2">
      <button pButton class="ui-button-success" [disabled]="!servForm.valid" type="submit" style="width: 100px"
        label="{{ editing ? 'Actualizar':'Crear' }}" icon="fa fa-file-text"></button>
      <button pButton type="button" class="ui-button-info" (click)="onClose()" icon="fa fa-trash" style="width: 100px"
        label="Salir" type="button"></button>
    </div>
  </div>
</form>
