<form (ngSubmit)="onSubmit()" #servForm="ngForm" autocomplete="off">
    <div class="ui-g">
      <div class="ui-g-9">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div classs="ui-g-11  ui-sm-12 class-div-group">
            <div class="ui-grid-row top-4  label-right">
              <div class="ui-grid-col-3 ui-sd-12 ">
                <label>Código(*):</label>
              </div>
              <div class="ui-grid-col-5 class-input ">
                <input type="text" pInputText name="codigo" style="width: 100%" [(ngModel)]="item.codigo" required>
              </div>
              <div class="ui-grid-col-6 class-input ">
                <p-checkbox name="activo" binary="true" label="Activo" [(ngModel)]="item.activo"></p-checkbox>
              </div>
            </div>
            <div class="ui-grid-row top-4 label-right">
              <div class="ui-grid-col-3 ui-sd-12 ">
                <label>Nombre(*):</label>
              </div>
              <div class="ui-grid-col-11 class-input">
                <input type="text" pInputText name="nombre" style="width: 100%" [(ngModel)]="item.nombre" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g-2  ui-sm-12">
        <div class="ui-grid-row top-4 class-button">
          <button pButton class="ui-button-success" [disabled]="!servForm.valid" type="submit" style="width: 100px"
            label="{{ editing ? 'Actualizar':'Crear' }}" icon="fa fa-file-text"></button>
        </div>
        <div class="ui-grid-row top-4 class-button">
          <button pButton type="button" class="ui-button-info" (click)="onClose()" icon="fa fa-trash" style="width: 100px"
            label="Salir" type="button"></button>
        </div>
      </div>
    </div>
  </form>
  